name: Flutter Build

on:
  push:
    branches:
      - main # Change this to your main branch name

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Flutter
      uses: subosito/flutter-action@v1
      with:
        flutter-version: 3.13.2 # Use the desired Flutter version

    - name: Install dependencies
      run: flutter pub get

    - name: Build Flutter App
      run: flutter build ios --no-codesign # or flutter build ios for iOS builds

    - name: Archive artifacts
      uses: actions/upload-artifact@v2
      with:
        name: app-release
        path: build/app/outputs/apk/release/app-release.ipa
